@model ECommerce.Models.Product
<div class="product">
    <div class="product-image">
        <img class="product-image" src="@Model.url" alt="">
    </div>
    <p>@Model.name<br>(@Model.quantity Left)</p>
</div>